[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1"
pandas = "*"
"psycopg2" = "*"
sqlalchemy = "*"
tox = "*"
django-extensions = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
django-widget-tweaks = "*"
django-import-export = "*"
django-polymorphic = "*"

[dev-packages]
coverage = "*"
selenium = "*"

[requires]
python_version = "3.6"
