[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0"
pandas = "*"
"psycopg2" = "*"
sqlalchemy = "*"
tox = "*"
django-extensions = "*"
django-heroku = "*"
dj-database-url = "*"
gunicorn = "*"
django-widget-tweaks = "*"
django-import-export = "*"
django-polymorphic = "*"
django-phonenumber-field = "*"
openpyxl = "==2.4.9"
pytest-django = "*"
model-mommy = "*"
python-dateutil = "*"
django-crispy-forms = "*"
phonenumbers = "*"

[dev-packages]
coverage = "*"
selenium = "*"
ipython = "*"
requests = "*"

[requires]
python_version = "3.6"
